@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Background-color: rgba(19, 65, 91, 0.716);
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.803);
  background-image: url(img/samuel-regan-asante-wMkaMXTJjlQ-unsplash.jpg);
  background-size: cover;
  background-blend-mode: overlay;
}

h1 {
  font-family: "Pacifico", cursive;
  color: whitesmoke;

  font-size: 3rem;
  margin-bottom: 10px;
  text-shadow: 0 0 20px var(--Background-color);
}
p {
  margin-top: 20px;
  color: whitesmoke;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
.header_container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_section {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.input_section input {
  font-size: 0.8rem;
  width: 100%;
  padding: 10px 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  outline: none;
}
.input_section input::placeholder {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 0.8rem;
  color: var(--Background-color);
}

.input_section button {
  background-color: var(--Background-color);
  color: white;
  font-size: 0.8rem;
  padding: 10px 10px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
  cursor: pointer;
}
.movies_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.image {
  width: 300px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--Background-color);
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 -10px 5px whitesmoke;
  border: none;
  outline: none;
}
.image img {
  width: 100%;
  height: 100%;
}
.image ul {
  background-color: rgba(0, 0, 0, 0.934);
  color: white;

  padding: 10px 0;
}
.image li {
  font-weight: 400;
}

header a {
  background-color: var(--Background-color);
  color: white;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid white;
  transition: all 1s linear;
}
header a:focus,
header a:hover,
header a:active {
  color: var(--Background-color);
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 1.5px whitesmoke;
}
a:hover {
  color: var(--Background-color);
}

/* pop up */
.movie_details {
  padding: 20px;
  background-color: var(--Background-color);

  position: fixed;
  width: 80%;

  border-radius: 10px;
  overflow: scroll;
  display: none;
}
.movie_details button {
  font-size: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--Background-color);
  border: none;

  color: whitesmoke;
}
.close_btn_container {
  text-align: right;
}
.movie_details ul,
.movie_details h3 {
  color: whitesmoke;
}
.movie_content {
  text-align: ;
}

/* utility classes */
.showDetails {
  display: block;
}

@media screen and (min-width: 900px) {
  h1 {
    font-size: 5rem;
  }
}
