@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
image {
  display: block;
}
:root {
  --Background-color: rgba(19, 65, 91, 0.716);
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.803);
  background-image: url(img/samuel-regan-asante-wMkaMXTJjlQ-unsplash.jpg);
  background-size: cover;
  background-blend-mode: overlay;
  overflow-x: hidden;
}

body {
  width: 100vw;
  min-height: 100vh;
}
h1 {
  color: whitesmoke;
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
}
input {
  color: whitesmoke;
  width: 80%;
  max-width: 1000px;
  background-color: var(--Background-color);
  border: none;
  outline: none;
  font-size: 0.8rem;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
input::placeholder {
  color: whitesmoke;
}
button {
  color: whitesmoke;
  cursor: pointer;

  font-size: 0.8rem;
  padding: 10px;
  border: none;
  outline: none;
}
ul {
  list-style-type: none;
  color: whitesmoke;
}
a {
  text-decoration: none;
  color: red;
}
a:hover,
a:focus,
a:active {
  filter: opacity(50%);
}
h3 {
  color: rgb(1, 162, 255);
  text-align: center;
  font-weight: 600;
}
p {
  color: whitesmoke;
}
span {
  font-weight: 600;
  color: rgb(1, 162, 255);
}
.title {
  margin: 20px 0 0;
}
.container {
  text-align: center;
  position: relative;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar_button {
  background-color: var(--Background-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.fa-spin {
  font-size: 0.95rem;
}
.searchResultContainer {
  margin-top: 20px;
}
.movieContainer {
  margin: 20px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 30px;
}
.movieDisplay {
  width: 300px;
  background-color: var(--Background-color);
  border-radius: 10px;
  overflow: hidden;
}
.movieDisplay img {
  width: 100%;
  max-height: 300px;
}
.movieDetails {
  background-color: rgba(0, 0, 0, 0.949);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 20px;
  padding: 10px;
  display: none;
  overflow-y: scroll;
}
.movieContent {
  text-align: left;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.movieContent ul {
  line-height: 1.6;
}

.closeBtnContainer {
  text-align: right;
}
.closeBtn {
  background-color: transparent;
  font-size: 1rem;
}

/* utilities */
.none {
  display: none;
}
.block {
  display: block;
}
.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out 2s 2 both;
  animation: heartbeat 1.5s ease-in-out 2s 2 both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.swing-out-top-fwd {
  -webkit-animation: swing-out-top-fwd 1s cubic-bezier(0.6, -0.28, 0.735, 0.045)
    both;
  animation: swing-out-top-fwd 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}
@-webkit-keyframes swing-out-top-fwd {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
}
@keyframes swing-out-top-fwd {
  0% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
}
